body {
  margin: 0;
  padding: 0;
}

header {
  background-color: gray;
  height: 80px;
  width: 1182px;
  margin: auto;
  padding: 10px;
  color: white;
  font-size: large;
  position: fixed;
  overflow: hidden;
  left: 72px;
  z-index: 1;
  margin-top: -30px;
}

ul {
  height: 100%;
  margin-left: 100px;
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
  margin-right: 30px;
}

li {
  margin-left: 10px;
}

li>a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
  background-color: white;
  color: black;

}

.container {
  height: 600px;
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  position: relative;
}

.top-left {
  position: absolute;
  top: 30px;
  left: 16px;
  color: white;
  font-size: 30px;
}

.teamMember {
  height: 300px;
  width: 1200px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

}

.centerMember {
  text-align: center;
  font-size: 30px;
}

.member {
  height: 280px;
  width: 280px;
  background-color: aquamarine;
  border-radius: 50%;
  margin-top: 20px;
}

/* about css */

.about {
  height: 600px;
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.sectionONE {
  height: 600px;
  width: 570px;
  background-color: gray;
}

.sectionTWO {
  height: 600px;
  width: 570px;
  position: relative;
}

p {
  font-size: 20px;
  padding: 10px;
  text-align: justify;
  line-height: 28px;
  color: white;
}

.sectionTWO-ONE {
  height: 198px;
  width: 570px;

}

.innerTextONE {
  position: absolute;
  top: -27px;
  left: 264px;
  font-size: 30px;
}

.innerTextTWO {
  position: absolute;
  top: 178px;
  left: 264px;
  font-size: x-large;
}

.innerTextTHREE {
  position: absolute;
  top: 384px;
  left: 264px;
  font-size: x-large;
}

.tech {
  height: 478px;
  width: 1200px;
  margin: auto;
}

.textcenter {
  text-align: center;
  font-size: 30px;
}

.box {
  height: 400px;
  width: 250px;
  display: inline-block;
  margin-left: 34px;
}

.tech1 {
  height: 150px;
  width: 248px;
}

.techabout {
  display: block;
  height: 256px;
  width: 248px;
  background-color: gray;
  margin-top: -36px;
}

.btn {
  background-color: red;
  height: 32px;
  width: 241px;
  border-radius: 20px;
  margin-left: 5px;
  color: white;
}

button:hover {
  background-color: blue;
  pointer-events: stroke;
}

.contact {
  height: 115px;
  width: 1200px;
  margin: auto;
  background-color: pink;
}

.contactText {
  text-align: center;
  color: black;
}